* {
  box-sizing: border-box;
}

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  min-height: 300px;
  max-width: 400px; 
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.logo {
    position: relative;
    top: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#smallLogo {
    position: absolute;
    display: block;
    height: 98px;
    top: -9px;
    left: -7px;
}


#slogan {
    position: relative;
    top: -20px;
    font-family: damion;
}

#loginJum {
    position: relative;
    top: -10px;
    padding: 2rem 1rem;
    background-color: #564e76;
}

#loginContainer {
    height: 550px;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #607D8B;
  font-family: reem kufi;
}

footer {
    position: relative;
    bottom: 20px;
}

#loginRow {
  height: 500px;
}

.card-header {
    font-size: 37px;
}

.headerText {
    margin: 0px 14px;
}
