* {
  box-sizing: border-box;
}

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  min-height: 300px;
  max-width: 400px; 
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.logo {
    position: relative;
    top: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#slogan {
    position: relative;
    top: -20px;
}

#loginJum {
    position: relative;
    top: -10px;
    padding: 2rem 1rem;
}

#loginContainer {
    height: 550px;
}
=======
  margin: 0 auto;
  width: 50%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

