* {
  box-sizing: border-box;
}

#map #infowindow-content {
  display: inline;
}

.map-container {
  height: 250px;
}

#map {
  margin: 0 auto;
  width: 50%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
